

Dear <%= @user.email %>,

<p>Thank you for registering to coding QnA!</p> 
<p>An update has been posted on a <a href=<%= root_url %>/askquestions/<%= @question_id %>/answers/new > Question </a> at Coding QnA.</p>

<p>Coding QnA Team.</p>