// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.purr {
  position: fixed;
  top: 30px;
  left: 100px;
  width: 250px;
  padding: 20px;
  background-color: #BA0000;
  border: solid 2px #666;
  color: #ffffff;
  &:first-letter { text-transform: uppercase };
}